<html>
{{template "header.tmpl.html"}}

<body>
  {{template "nav.tmpl.html"}}

  <div class="jumbotron text-center">
    <div class="container">
      <a href="/" class="lang-logo">
        <img src="/static/lang-logo.png">
      </a>
      <h1>This is simple Golang demo</h1>
      <p>This is a sample Go demo application deployed to Heroku that allows getting some information about user and
        repositories stored on Github.</p>
      <a type="button" class="btn btn-lg btn-primary"
        href="https://bitbucket.org/pawel90g/github-user-statistics">Source on Bitbucket</a>

      <a type="button" class="btn btn-lg btn-primary"
        href="https://github.com/login/oauth/authorize?redirect_uri={{ .host }}/callback&client_id={{ .clientId }}">Github
        login</a>
    </div>
  </div>
  <div class="container">
  </div>
</body>

</html>